*{
   font-family: Arial, Helvetica, sans-serif;
   margin: 0;
}

main{
   box-shadow: 10px -10px rgb(0, 0, 0);
}

.header{
   background-color: black;
}

.bar1{
   width: 475px;
   height: 2px;
   background-color: black;
   margin-left: 405px;
   margin-top: 5px;
}




.bar2{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar2 h1 {
   position: absolute;
   margin-top: 0px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }

 input[type="checkbox"] {
   display: none;
 }

 .content {
   width: 910px;
   margin-left: 180px;
   background: rgb(236, 236, 236);
   border-radius: 10px 10px 10px 10px;
   overflow: hidden;
   max-height: 0;
   opacity: 0;
   transition: max-height 0.8s ease, opacity 0.6s ease;
   box-shadow: 0 2px 5px rgba(0,0,0,0.1);
   margin-top: 10px;
 }


 input[type="checkbox"]:checked ~ .content {
   max-height: 500px;
   opacity: 1;
 }

 .content p {
   padding: 20px 25px;
   line-height: 1.6;
   color: #333;
 }

 .arrow {
   position: absolute;
   right: 25px;
   top: 48%;
   transform: translateY(-45%);
   font-size: 5rem;
   transition: transform 0.4s ease;
 }

 input[type="checkbox"]:checked + label .arrow {
   transform: translateY(-53%) rotate(180deg);
 }

 a {
   color: #2e9d52;
   text-decoration: none;
   font-weight: bold;
 }

 a:hover {
   text-decoration: underline;
 }






.bar3{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 15px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar3 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar4{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar4 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar5{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar5 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar6{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar6 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar7{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar7 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar8{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar8 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar9{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar9 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar10{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar10 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar11{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar11 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar12{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar12 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar13{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar13 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar14{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar14 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar15{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar15 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar16{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar16 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }


.bar17{
   width: 910px;
   height: 125px;
   background-color: rgb(208, 208, 208);
   margin-left: 180px;
   margin-top: 40px;
   border-radius: 10px;
   position: relative;
   cursor: pointer;
   display: flex;
   align-items: center;
}

.bar17 h1 {
   position: absolute;
   margin-top: 45px;
   margin-left: 135px;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: 100;
   font-size: 28px;
   color: #1a1a1a;
 }