*{
    margin: 0;
    padding: 0;
  }
  .fontes {
    display: flex;
    flex-direction: column;  
    align-items: center;    
    gap: 10px;               
    margin-top: 20px;
}

.link { 
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;    
}