
.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.header{
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
  }
  
  .header .bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  /* MENU */
.menu {
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: ;
}
 
.menu .categorias{
  list-style: none;
  display: flex;
  gap: 25px;
 

}

.menu .ladodireito{
  List-style: none;
  display: flex;
  gap: 15px;
  align-items: center;
}

.menu li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
}
.menu li a {
  font-family: Arial, Helvetica, sans-serif;
}

.menu li a:hover{
  opacity: 0.7;
}

/*LOGO*/
.Logo {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
}


/*Mini-Logo*/
.mini-logo{
  width: 70px;
  right: 10px;
}

/*DATA*/
.data {
  position: absolute;
  bottom: 25px;
  right: 40px;
  color: white;
  font-size: 18px;
}

